@font-face {
    font-family: Srikanth;
    src: url(/assets/fonts/00819\ Regular.ttf);
}
.banner{
    background-image: url(/assets/images/banner.png);
    background-size: cover;
    background-position: center;
}
.navbtn{
    border: none;
    background-color: #aab33c;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;

}
button{
    background-color: #aab33c;
    border: none;
    color: beige;

}
.icard{
    margin-top: 90px; height: 200px;
}

.nav-link{
    font-family: 'Quicksand', sans-serif;

}
#thebest{
    font-family: Srikanth;    
    color: #aab33c;
}
.mnlbl{
    font-family: 'Quicksand', sans-serif;
color: #ffffff;
}
.mnbtn{
    background-color: #aab33c;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;

    border: none;
}
.mc{
font-size: 13px;
font-family: 'Quicksand', sans-serif;
font-weight: 600;
}
.card{
    background-color: rgba(170, 179, 60,0.3);
    border: none;
}
p{
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: small;
}
.subcardp{
    font-weight: 700;
    font-size: smaller;
}
.s3{
    background-color: #fdffe9;

}
span{
    font-family: 'Quicksand', sans-serif;

}
.bg-custom {
    background-color: #aab33c;
}
.s5b{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;

}

#tablehead {
    background-color: #aab33c;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

#tablesubhead {
    font-size: 10px;
}

.textp {
    width: 157px;
    height: 27px;
    font-size: xx-small;
    font-family: 'Quicksand', sans-serif;
}

th {
    height: 15px;
}

.table {
    border-radius: 5px;
    overflow: hidden;
}

#price {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(170, 179, 59, 0.3);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(255, 255, 255);
}
.table-striped tbody td:nth-of-type(odd) {
    box-shadow: -5px 0 5px -5px #333, 7px 0 7px -7px #313030;
}
.tblep {
    white-space: pre-line;
    font-weight: 100;
    font-size: xx-small;
    font-family: 'Quicksand', sans-serif;

}

/* for the plan prices  */
#pp{
    color: #aab33c;
    font-family: 'Quicksand', sans-serif;
}

#tableend{
    white-space: pre-line;
    font-size: smaller;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;}


.ss{
    background-image: url("/assets/images/sect5.png");
}

/* z-index */
.flex-container {
    display: flex;
  }
  
  .flex-item {
    flex: 1;
    height: 100px;
  }
  
  .order-1 {
    order: 1;
  }
  
  .order-2 {
    order: 2;
  }

#rectanglebox {
    position: absolute;
    margin-left: -70px;
    margin-top: 380px;
}

#fifteen {
    position: absolute;
    font-size: 45px;
    margin-top: 395px;
    margin-left: -35px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

#years {
    position: absolute;
    margin-top: 406px;
    font-size: 16px;
    width: 20px;
    line-height: 22px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

#layer7 {
    height: 272px;
    margin-top: 30px;
    position: relative;

}

#sublayer7 {
    position: absolute;
    margin-left: 100px;
    margin-top: -20px;

}
.ip {
    font-size: smaller;
}


.ic {
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    background-color: #fdffe9;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    font-size: xx-small;
}

.l7c{
    background-color: #fdffe9;
}
#layer7 .card{
    width: 850px;
    height: 50px;
    flex-direction: row;
    margin-left: 60px;
    margin-top: -30px;
    background-color: #fdffe9;

}


#layer7 .card img {
    width: 50px;
    height: 50px;
}

#layer7 .card-text {
    padding-top: 2px;
    font-size: 12px;
    line-height: 10px;

}



#layer8 {
    height: 170px;
    width: 100%;

}

#layer8content {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

#layer8div {
    width: 100%;
}



#layer8button {
    background-color: #aab33c;
    color: #ffffff;
    border: none;
   
 
}
.ftfs{
    color: #aab33c;
}



#footer {
    background-image: url('/assets/images/footerbg.png');

}
.ftfa{
    background-color: #aab33c;
    color: beige;
    
}
input{
    border: none;
}

.link{
    font-size: x-small;
    text-decoration:none;
    color: rgb(99, 97, 97);
}
.ftp{
    font-size: x-small;
    text-decoration:none;
}
.submit{
    font-family: 'Quicksand', sans-serif;
    font-size: small;
}
.copyrightft{
    background-color: #aab33c;
}
.cpr{
    font-family: 'Quicksand', sans-serif;

}

@media screen and (max-width:1023px) {
    .navbar-collapse{
        position: absolute;
        z-index: 1;
        margin-top: 380px;
        
    }
    #fifteen,#years,#rectanglebox{
        display: none;
    }
    #layer7 {
        
        margin-top: 30px;
        position: relative;
    
    }
    
    #layer7 .card {
        width: 250px;
        height: 50px;
        flex-direction: row;
        margin-left: 23px;
        margin-top: -30px;
    
    }
    
    #layer7 .card img {
        width: 50px;
        height: 50px;
    }
    
    #layer7 .card-text {
        padding-top: 2px;
        font-size: 12px;
        line-height: 10px;
    }

    #layer8button {
        background-color: #aab33c;
        color: #ffffff;
        border: none;
        width: 133px;
        height: 50px;
        margin-left: 200px;
    
        
    }
 
}
@media screen and (min-width:320px) and (max-width:767px) {
    .navbar-collapse{
        position: absolute;
        z-index: 1;
        margin-top: 380px;
        margin-left: 290px;
    }
    
    #pp,#fifteen,#years,#rectanglebox,#design,#computer,#phone{
        display: none;
    }

    #layer7 {
        height: 550px;
        margin-top: 30px;
        position: relative;
       
        
    }
    .layer7{
        margin-left: -100px;
    }

    .l7img{
        margin-left:200px;
        height: 150px;
        width: 205px;
    }

    #layer7 .card {
        width: 180px;
        height: 40px;
        flex-direction: row;
        margin-left: 212px;
        margin-top: -20px;
    }

    #layer7 .card-text {
        padding-top: 2px;
        font-size: 7px;
        line-height: 10px;
     
    }
    #layer7 .card img {
        width: 30px;
        height: 40px;
    }
    .links{
        font-size: xx-small;
    }
    #links{
        width: 200px;
    }
    .form{
        white-space: pre-line;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    #computer,#phone{
        display: none;
    }
    #sect3{
        justify-content: center;
    }
    #layer7 {
        height: 200px;
        margin-top: 30px;
        position: relative;
        margin-left: -190px;
    }

    .l7img{
        margin-left:200px;
        height: 150px;
        width: 205px;
    }

    #layer7 .card {
        width: 180px;
        height: 40px;
        flex-direction: row;
        margin-left: 212px;
        margin-top: -20px;
    }

    #layer7 .card-text {
        padding-top: 2px;
        font-size: 7px;
        line-height: 10px;
     
    }
    #layer7 .card img {
        width: 30px;
        height: 40px;
    }

    .form{
        white-space: pre-line;
    }
}


